.firstContainer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 2002px;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

.headerContainer {
  position: relative;
  text-align: center;
}

.image {
  margin: 0 auto;
  width: 1200px;
  display: block;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 228px;
}

.searchLabel {
  margin: 10px 0 6px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  cursor: default;
}

.searchInput {
  width: 222px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(77, 77, 77);
  padding: 0 0 0 10px;
  box-sizing: border-box;
  text-align: left;

  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: rgb(77, 77, 77);
    text-align: center;
  }
}

.searchInput::placeholder {
  font-family: Montserrat, sans-serif;
}

.filterContainer {
  width: 300px;
  min-width: 300px;
}

.filterHeading {
  font-size: 18px;
  font-weight: 700;
  color: rgb(15, 73, 138);
  text-align: left;
  line-height: 22px;
  margin: 10px 0 30px 14px;
}

.filterTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  color: rgb(15, 73, 138);
  margin: 0 0 10px 14px;
}

.filterOption {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 17px;
  margin: 0 0 10px 14px;
  user-select: none;
}

.filterOption:last-child {
  margin-bottom: 30px;
}

.filterOption input[type="checkbox"] {
  margin-right: 10px;
}

.mainContainer {
  flex-grow: 1;
  width: 100%;
}

.card {
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  width: 886px;
  display: flex;
  flex-direction: column;
}

.cardContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  flex-basis: 45%;
  text-align: left;
}

.value {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgb(77, 77, 77);
  flex-basis: 55%;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.moreButtonCard {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(15, 73, 138);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.buttonsCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editButton {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(15, 73, 138);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.deleteButton {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(220, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(240, 0, 0);
  }
}

.adminButtons {
  display: flex;
  gap: 10px;
}

.addButton {
  margin: 38px 0 0 208px;
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(15, 73, 138);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.sortContainer {
  display: flex;
  margin: 38px 0 0 0;
  width: 100%;
  max-width: 300px;
}

.sortContainer select {
  padding: 9px 30px 9px 9px;
  width: auto;
  max-width: 330px;
  max-height: 40px;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(77, 77, 77);
  cursor: pointer;
  font-size: 18px;
  font-family: Montserrat, sans-serif;

  option {
    background-color: rgb(255, 255, 255);
    color: rgb(77, 77, 77);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    font-family: Montserrat, sans-serif;
  }
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: rgba(15, 73, 138, 0.1);
  text-align: center;
}

.footerTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  margin-bottom: 10px;
  padding: 63px 0 21px 0;
}

.footerContacts {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: rgb(140, 137, 135);
  padding: 0 0 75px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }

    &:hover {
      background: #f0f0f0;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}


.paginationText {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  text-align: center;
}

.contentContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.moreSortContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 588px;
  height: 870px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup form {
  display: flex;
  flex-direction: column;
}

.popupLabel {
  color: rgb(15, 73, 138);
  font-weight: 700;
  width: 500px;
  cursor: default;
}

.popupLabel,
.popupInput,
.fileUpload label,
.fileUpload input {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.popupInput {
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  max-width: 500px;
  height: 40px;
}

.fileUpload {
  margin: 20px 0;
}

.closePopup {
  width: 100%;
  max-width: 212px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(220, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(240, 0, 0);
  }
}

.notification {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  color: rgb(15, 73, 138);
  user-select: none;
}

.popupSubmit {
  width: 100%;
  max-width: 212px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(15, 73, 138);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.popupButtons {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
}

.fileUpload {
  border: 2px dashed rgb(204, 204, 204);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  margin: 10px 0;
  height: 250px;

  .fileUploadContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .uploadIcon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }

  .uploadText {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
  }

  .orText {
    font-size: 14px;
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
  }

  .fileSeparator {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 15px 0 5px 0;
  }

  .fileDisplay {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .browseButton {
    background-color: rgb(15, 73, 138);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0162bb;
    }
  }

  .fileInput {
    display: none;
  }

  .fileName {
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
}

.popupContainerDelete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupDelete {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.popupDelete p {
  color: rgb(77, 77, 77);
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
}

.patentName {
  color: rgb(15, 73, 138);
  font-weight: bold;
}

.popupButtonsDelete {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.confirmDeleteButton,
.closeButton {
  width: 48%;
  height: 40px;
  padding: 9px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.confirmDeleteButton {
  background-color: rgb(15, 73, 138);
  color: white;

  &:hover {
    background-color: #0162bb;
  }
}

.closeButton {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(77, 77, 77);
  color: rgb(77, 77, 77);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 0 10px;
  }

  .search {
    top: 70%;
    left: 5%;
  }

  .layoutContainer {
    flex-direction: column;
    align-items: center;
  }

  .filterContainer {
    width: 90%;
    margin: 10px 0;
  }

  .mainContainer {
    width: 90%;
  }

  .footerContacts {
    font-size: 12px;
  }
}