.firstContainer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 2002px;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

.headerContainer {
  position: relative;
  text-align: center;
}

.image {
  margin: 0 auto;
  width: 1200px;
  display: block;
}

.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 228px;
}

.searchLabel {
  margin: 10px 0 6px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  cursor: default;
}

.searchInput {
  width: 222px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(77, 77, 77);
  padding: 0 0 0 10px;
  box-sizing: border-box;
  text-align: left;

  ::placeholder {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 17px;
    color: rgb(77, 77, 77);
    text-align: center;
  }
}

.filterContainer {
  width: 300px;
  min-width: 300px;
}

.filterHeading {
  font-size: 18px;
  font-weight: 700;
  color: rgb(15, 73, 138);
  text-align: left;
  line-height: 22px;
  margin: 10px 0 30px 14px;
}

.filterTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  color: rgb(15, 73, 138);
  margin: 0 0 10px 14px;
}

.filterOption {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 17px;
  margin: 0 0 10px 14px;
}

.filterOption:last-child {
  margin-bottom: 30px;
}

.filterOption input[type="checkbox"] {
  margin-right: 10px;
}

.mainContainer {
  flex-grow: 1;
  width: 100%;
}

.card {
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  width: 886px;
  display: flex;
  flex-direction: column;
}

.cardContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  flex-basis: 45%;
  text-align: left;
}

.value {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgb(77, 77, 77);
  flex-basis: 55%;
  text-align: right;
}

.moreButtonCard {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(15, 73, 138);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.buttonsCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editButton {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(15, 73, 138);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.deleteButton {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(220, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.adminButtons {
  display: flex;
  gap: 10px;
}

.addButton {
  justify-self: flex-end;
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  background-color: rgb(15, 73, 138);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0162bb;
  }
}

.sortContainer {
  display: flex;
  margin: 38px 0 0 0;
  width: 100%;
  max-width: 300px;
}

.sortContainer select {
  padding: 9px 30px 9px 9px;
  width: auto;
  max-width: 330px;
  max-height: 40px;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(77, 77, 77);
  cursor: pointer;
  font-size: 18px;

  option {
    background-color: rgb(255, 255, 255);
    color: rgb(77, 77, 77);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: rgba(15, 73, 138, 0.1);
  text-align: center;
}

.footerTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  margin-bottom: 10px;
  padding: 63px 0 21px 0;
}

.footerContacts {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: rgb(140, 137, 135);
  padding: 0 0 75px 0;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 53px 0;
}

.paginationText {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgb(15, 73, 138);
  text-align: center;
}

.contentContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.moreSortContainer {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 0 10px;
  }

  .search {
    top: 70%;
    left: 5%;
  }

  .layoutContainer {
    flex-direction: column;
    align-items: center;
  }

  .filterContainer {
    width: 90%;
    margin: 10px 0;
  }

  .mainContainer {
    width: 90%;
  }

  .footerContacts {
    font-size: 12px;
  }
}