.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.authForm {
  width: 500px;
  height: 476px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.authTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  margin: 68px 0 41px 0;
  color: rgb(15, 73, 138);
  letter-spacing: 3px;
}

.authInput {
  width: 280px;
  height: 40px;
  padding: 12px;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  margin-bottom: 20px;
}

.authInput:last-of-type {
  margin-bottom: 10px;
}

.authInput::placeholder {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.forgotPassword {
  margin: 24px 0 4px 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;

  color: rgb(15, 73, 138);
}

.errorLogin {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(209, 91, 91);
  height: 20px;
  visibility: hidden;
}

.errorLogin.visible {
  visibility: visible;
}

.loginButton {
  font-family: Montserrat, sans-serif;
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 10px;
  background-color: rgb(15, 74, 138);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;

  &:hover {
    background-color: #0162bb;
  }

  &.disabled {
    background-color: grey;
    cursor: default;
  }
}

.buttonWithForgot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}