.button {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;

  background-color: rgb(15, 73, 138);

  &:hover {
    background-color: #0162bb;
  }
}

.custom-button {
  background-color: #be4f4f;

  &:hover {
    background-color: #dc7777;
  }
}
