.employeesList {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  th {
    background-color: #f8f9fa;
    font-weight: 600;
    color: #333;
  }

  tr:hover {
    background-color: #f8f9fa;
  }
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.editButton {
  color: white;
  //border: none;
  //padding: 0.5rem 1rem;
  //border-radius: 4px;
  //cursor: pointer;
  //transition: background-color 0.2s;

  //&:hover {
  //  background-color: #218838;
  //}
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  transition: background-color 0.2s;

  &:hover {
    background-color: #c82333;
  }
}
