.firstContainer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 2002px;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

.filterContainer {
  width: 300px;
  min-width: 300px;
}

.filterHeading {
  font-size: 18px;
  font-weight: 700;
  color: rgb(15, 73, 138);
  text-align: left;
  line-height: 22px;
  margin: 10px 0 20px 14px;
}

.mainContainer {
  flex-grow: 1;
  width: 100%;
}

.button {
  width: 100%;
  max-width: 150px;
  height: 40px;
  padding: 9px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.addButton {
  margin-left: auto;
  background-color: rgb(15, 73, 138);

  &:hover {
    background-color: #0162bb;
  }
}

.contentContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 15px;
}

.moreSortContainer {
  width: 100%;
  display: flex;
  align-items: end;
}

.filterButton {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: rgb(77, 77, 77);
  width: 125px;
  height: 40px;
}

.hamburgerIcon {
  font-size: 24px;
  margin: 0 4px 2px 0;
}

.popupContainerFilter {
  position: absolute;
  top: 195px;
  left: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 220px;
  height: 420px;
  padding: 20px 0 0 0;
  z-index: 1;
}

@media (min-width: 426px) {
  .filterButton {
    display: none;
  }
}

@media (max-width: 425px) {
  .contentContainer {
    padding-right: 0;
  }

  .filterContainer {
    display: none;
  }

  .filterButton {
    height: 35px;
    font-size: 12px;
    margin: 10px 10px 0 8px;
  }

  .moreSortContainer {
    align-items: flex-start;
  }

  .button {
    font-size: 12px;
    height: 30px;
  }

  .addButton {
    max-width: 100px;
    margin-right: 8px;
    margin-top: 5px;
  }

  .firstContainer {
    max-width: 100%;
  }

  .moreSortContainer {
    display: flex;
    flex-wrap: wrap;

    .filterButton {
      flex: 0 1 29.5%;
    }

    .addButton {
      margin: 15px 0 0 18px;
    }
  }
}

@media (max-width: 375px) {
  .addButton {
    margin: 15px 0 0 155px !important;
  }
}
